body {
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Richy';
  src: url('fonts/Richy.otf') format('opentype');
}
@font-face {
  font-family: 'Bellefair';
  src: url('fonts/Bellefair-Regular.ttf') format('truetype');
}
.site-title {
  font-family: 'Richy', sans-serif;
  font-size: clamp(120px, 18vw, 340px);
  text-align: center;
  font-weight: normal;
  color: transparent;
  margin: 80px 0;
  color: #1c1c1c;
  font-style: italic;
}
.works {
  font-family: 'Bellefair', sans-serif;
  font-size: clamp(20px, 4vw, 40px);
  text-align: center;
  margin: 70px 0 50px 0;
  color: #1c1c1c;
  position: relative;
  padding: 20px;
}
.works::before,
.works::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background-color: #000;
  transform: translateY(-50%);
}
.works::before {
  left: 0;
}
.works::after {
  right: 0;
}

.workstree {
  text-align: center;
  margin: 50px 0;
}

.underline-link {
  display: inline-block;
  border-bottom: 1px solid #343434;
  font-family: 'Bellefair', sans-serif;
  font-size: clamp(16px, 3vw, 40px);
  color: #343434;
  text-decoration: none;
  transition: transform 0.3s ease;
}
.underline-link:hover {
  transform: scale(1.1);
}

.footer {
  font-family: 'Bellefair', sans-serif;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f1f1f1;
  color: #333;
  text-align: center;
  padding: 10px 0;
  font-size: clamp(12px, 2vw, 14px);
  box-shadow: 0 0px 14px rgba(0, 0, 0, 0.1);
}
.richy {
  font-family: 'Richy', sans-serif;
  font-size: clamp(12px, 2vw, 14px);
  font-style: italic;  
}
